#mainbg {
    background: #b6e4eb;
}

.titles {
    font-weight: bolder;
    text-align: center;
}

p {
    text-align: center;
}

ul {
    text-align: center;
    list-style-position: inside;
    font-weight: lighter;
}

ul.homepage {
    text-align: center;
    list-style-position: inside;
    font-weight: bold;
}

ol {
    text-align: center;
    list-style-position: inside;
    font-weight: lighter;
}

img {
    display: block;
    margin: auto;
}